<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Mon CV
    </title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

<div id="header"></div>
<div class="left"></div>
<div class="stuff">
    <link rel="stylesheet" href="cssfinal.css" />
  <br><br>
  <h1>CV</h1>
  <h2>Francisco Silva</h2>
  <hr />
  <br>
  <form>
    <input type="button" value="Retour" onclick="history.go(-1)"> <br>
  </form>

  <p class="head"><h3>Interets</h3></p>
  <ul>
    <li>Sports</li><br>
    <li>Musique</li><br>
    <li>Informatique</li><br>
    <li>Voyager</li><br>
    <li>Enrichissement Culturel</li><br>
  </ul>
  <p class="head"><h3>Éducation</h3></p>
  <ul>
    <a href="https://iut-roanne.univ-st-etienne.fr/">
        <li>2022-2023 IUT DE ROANNE - Réseaux et Tellecommunications</li><br>
      </a>
    <a href="https://cslaxaviere.fr/lycee-la-xaviere/">
      <li>2019-2022 Lycée Privé La Xavière</li><br>
    </a>
    <!--Link-->
    <a href="https://cslaxaviere.fr/lycee-la-xaviere/">
      <li>2015-2019 Collège Privé La Xavière</li><br>
    </a>
    <li>2015 Porto, Portugal</li>
  </ul>
  <p class="head"><h3>Experience Professionnelle et Culturelle</h3></p>
  <ul>
    <li>Stage de 3ème, systèmes éléctriques d'un ascenseur, sécurité éléctrique</li><br>
    <li>Échange scolaire a Londres en famille d'accueil,</li><br>
  </ul>
  <p class="head"><h3>Extracurricullaires</h3></p>
  <ul>
    <li>Semi-Professionnel sur CSGO, jeu d'équipe</li><br>
    <li>Capitain dans le championnat départemental de Futsal</li><br>
    <li>Heures de pratique en mécanique et électronique pour voitures</li><br>
  </ul>
</div>
<body>      <ul>
    <li>
        <l1> <a href="formuaire2.html"><h1>Formulaire pour télécharger le CV entier</h1></a></l1>
      </span>
    </li>
  </ul>
</nav>
</body>
<div class="right"></div>

    <footer>
        <h3>
          <span class="material-symbols-outlined">
            magic_button
          </span>
          Francisco Silva
        </h3>
  
        <p>&copy; Francisco Silva 2023</p>
      </footer>
    </footer>
