<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Mon site
    </title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="cssfinal.css" />
  </head>
  <body>
    <nav>
      <h1>
        <span class="material-symbols-outlined">
          magic_button
        </span>
        Francisco Silva
      </h1>
      <ul>
        <li>
            <l1> <a href="/"><h2>Accueil</h3></a></l1>
          </span>
        </li>
        <li>
            <l1> <a href="cv.html"><h2>CV</h2></a></l1>

          </span>
        </li>
        <li>
            <l1> <a href="portfoliofinal.html"><h2>Portfolio</h2></a></l1>

          </span>
          <li>
            <l1> <a href="formuaire2.html"><h2>Contact</h2></a></l1>
  
          </span>
        </li>
        <li id="dark-light-mode" onclick="changeDarkMode()"><h2>Blue Mode</h2></li>

        </li>
      </ul>
    </nav>

    <header>
      <div class="header-left">
        <small
          ><span class="material-symbols-outlined">
            home_pin
          </span>
          Roanne , France</small
        >
        <h1>Bonjour,<br/> je suis Francisco Silva</h1>
        <p>
            BUT RT 
        </p>
        <p>
            Contact : 06 04 53 75 18 <br> 
            Courriel : francisco.jose.machado.silva@etu.univ-st-etienne.fr
        </p>
        <div class="links">
            <a href = "mailto: francisco.jose.machado.silva@etu.univ-st-etienne.fr">
                Envoyer un mail</a>
            </span></a
          >
          <a href="https://www.instagram.com/franc_silva33/">
            Instagram
            </span></a
          >
          <a href="https://github.com/franc-silva33"
            >GitHub
            </span></a
          >
        </div>
      </div>
      <div class="header-right">
        <img
          src="vibes.jpg"
          alt="profile-photo"
        />
      </div>
    </header>

    <section class="about">
      <h2>À propos de moi:</h2>
      <p>
        <h3>Etudiant en 1ère année de BUT Réseaux et Telecommunications, j'ai toujours été passionné par l'informatique et j'étudie ça depuis mes 15 ans. Auteur de plusieurs programmes informatiques, je prends plaisir à écrire des programmes en python et en c en y variant le style et la forme. Je souhaite approfondir mes compétences en informatique et faire de ça ma vie.</h3>
        <br /><br />

        <img
        class="signature"
        alt="signature"
        src="signature33.png"
      />
    </section>     <br>

      <h2>Une citation qui m'inspire:</h2>
        <h3>“Be creative, live a fun life, and don’t be an asshole.” , Ken Block.</h3>
      </p>

    <br>
    <br> <p> <h2>Mes loisirs</h2></p>

    <section class="images">
      <div class="image-card">
        <div class="image-left">
          <img
            src="vald33.jpg"
            alt="microsoft"
          />
        </div>
        <div class="image-right">
          <h1>Musique</h1>
          <p>
            -Concerts <br>
            -Le rap
          </p>
        </div>
      </div>

      <div class="image-card">
        <div class="image-left">
          <img
            src="acura.jpg"
            alt="microsoft"
          />
        </div>
        <div class="image-right">
          <h1>Voitures</h1>
          <p>
            -Sport Auto <br>
            -Mécanique
          </p>
        </div>
      </div>

      <div class="image-card">
          <div class="image-left">
            <img
              src="monaco.jpg"
              alt="microsoft"
            />
          </div>
      <div class="image-high">
        <h1>Voyager</h1>
        <p>
          -Découvrir <br>
          -Enrichissement Culturel
        </p>
      </div>
    </div>
    </section>

    <footer>
      <h3>
        <span class="material-symbols-outlined">
          magic_button
        </span>
        Francisco Silva
      </h3>

      <p>&copy; Francisco Silva 2023</p>
    </footer>

    <script src="script.js"></script>
  </body>
